.header {
  top: 50px;
}

.shop-product {
  background-image: url(/Tincture/images/bg/shop-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.shop-product h1 {
  padding-top: 100px;
}

.shop-product #page2,
.shop-product #page3 {
  display: none;
}

/* Pagination */
.pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: var(--white-100);
  background: var(--blue-600);
  padding: 8px 20px;
  transition: 0.3s ease;
  border-radius: 5px;
  font-family: var(--font-headers);
  font-weight: 700;
  font-size: 1rem;
}

.pagination button:hover {
  opacity: 80%;
}

/* Arrow Buttons */
.arrow {
  font-size: 1rem;
}

/* Active Button Style */
.page-button.active {
  background-color: var(--blue-500);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
