.header {
  top: 50px;
}
.contact{
    padding: 140px 150px;
    
}
.contact h1,
p {
  text-align: center;
}

.contact h1 {
  /* padding-top: 100px; */
  font-size: 3rem;
  font-weight: 600;
  line-height: 83px;
  /* margin-top: 20px; */
  color: var(--blue-500);
  font-family: var(--font-headers);
}

.contact p {
  font-size: 1.1rem;
  color: var(--gray-300);
  margin-top: -8px;
  font-family: var(--font-paragraph);
}

.contact .contact-container {
  background-color: var(--white-200);
  border-radius: 12px;
  display: flex;
  margin: 60px auto;
  margin-bottom: 0px;
}

.contact .contact-left {
  flex-basis: 60%;
  /* min-width: 430px; */
  padding: 40px 60px;
}

/* .contact .contact-left .send-btn button{
    margin-left: auto;
} */

.contact .contact-left h3 {
  color: var(--blue-700);
  font-weight: 550;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-family: var(--font-headers);
}

.contact .contact-left .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact .contact-left .input-row .input-group {
  flex-basis: 45%;
}

.contact .contact-left input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray-200);
  outline: none;
  padding-bottom: 5px;
  background-color: var(--white-200);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray-300);
  letter-spacing: .5px;
}

.contact .contact-left textarea {
  width: 100%;
  height: 180px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  /* color: var(--blue-500); */
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray-300);
  letter-spacing: .5px;
  background-color: var(--white-100);
}

.contact .contact-left label {
  margin-bottom: 6px;
  display: block;
  color: var(--blue-700);
  font-size: 1.1rem;
  font-family: var(--font-paragraph);
  font-weight: 500;
}

.contact .contact-left .send-btn button{
    display: flex;
    justify-content: end;
}

.contact .contact-left .send-btn button {
  color: var(--white-100);
  background: #8fa894; /*#8fa894 40edb8*/
  padding: 8px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  font-family: var(--font-paragraph);
  font-size: 1rem;
  font-weight: 500;
}

.contact .contact-left .send-btn button:hover {
  opacity: 80%;
}

.contact .contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: var(--green-300);
  color: var(--white-100);
  border-radius: 0px 12px 12px 0px;
}

.contact .contact-right h3 {
  color: var(--white-100);
  font-weight: 550;
  font-size: 1.3rem;
  font-family: var(--font-headers);
}

.contact .contact-right tr td{
   padding-bottom: 10px;
   font-family: var(--font-paragraph);
   font-weight: 500;
   font-size: 1rem;
}


.contact .contact-right tr td:first-child {
  color: var(--white-100);
  padding-right: 20px;
}


.contact .contact-right tr td {
  color: var(--white-100);
}

.contact .contact-right table{
  padding-top: 0px;
  margin-top: 30px;
  /* border-spacing: 0 20px; */
}

.contact .contact-right .map{
  text-align: center;
}
.contact .contact-right .map h3 {
  margin: 30px 0;
  text-align: start;
}

.contact .contact-right .map iframe{
  /* border: 2px solid var(--gray-300); */
  max-width: 100%;
  /* height: auto; */
  width: 100%;

}



