@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: width 0.3s ease, padding 0.3s ease;
}

html {
  scroll-behavior: smooth;
  /* scrollbar-width: thin;
  scrollbar-color: var(--green-400) */
}

:root {
  /*Fonts*/
  --font-headers: "Mochiy Pop One", sans-serif;
  --font-paragraph: "Poppins", sans-serif;

  /*Colors*/
  --white-100: #ffffff;
  --white-200: #f6f6f6;
  --white-300: #f7f6f7; /*BG Hero*/

  --blue-500: #122743;
  --blue-700: #132743;
  --gradient-blue-100: linear-gradient(
    90deg,
    rgb(19, 39, 67),
    rgb(42, 74, 115)
  );
  --gradient-blue-200: linear-gradient(90deg, rgb(19, 39, 67), rgb(31, 58, 91));

  --gray-100: #f0eff0;
  --gray-200: #88909d;
  --gray-300: #596477;

  --green-100: #40edb8;
  --green-200: #a8c2a9;
  --green-300: #8fa894;
  --green-400: #738677;

  --yellow-300: #e8b625;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/*(background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--gray-100);
  border-radius: 8px;
}

/*(the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: var(--green-400);
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-400);
}
/*End Style the scrollbar*/

/*Start Navbar Section*/
.home .container {
  background-image: url(/Tincture-Ecommerce/src/images/bg/frame_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  padding: 40px 120px;
  /* overflow: hidden; */
}

.header {
  position: fixed;
  top: 5%;
  left: 1px;
  width: 100%;
  height: 80px;
  padding: 1.3rem;
  /* background-color: red; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 40px 120px;
  transition: 0.3s ease;
  /* background-color: var(--green-300); */
  border-radius: 4px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: red; */
  z-index: -1;
}

.header .logo {
  height: 80px;
  width: auto;
}

.header.scrolled {
  top: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(143, 168, 148, 0.5);
  /* background-color: var(--green-200); */
}

.header .navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blue-700);
  margin-left: 2.5rem;
  transition: 0.3s ease;
}

.header .navbar a:hover {
  color: var(--green-300);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.header .navbar .active {
  color: var(--green-400);
  /* color: var(--blue-700); */
}

.header .hamburger {
  position: absolute;
  right: 5%;
  font-size: 2.2rem;
  color: var(--blue-700);
  cursor: pointer;
  display: none;
}

.header #check {
  display: none;
}

.header .cart {
  display: block;
  position: absolute;
  top: 30%;
  right: 4%;
  font-size: 1.6rem;
  color: var(--blue-500);
  cursor: pointer;
}

.header .cart:hover {
  color: var(--green-400);
}
/*End Navbar Section*/

/*Home Content Section*/
.home .home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 90px;
}

.home .home-content-left {
  /* border: red 2px solid; */
  width: 55%;
  /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

  margin-top: 100px;
}

.home .home-content-left h1 {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 83px;
  margin: 20px 0;
  text-align: start;
  color: var(--blue-500);
}

.home .home-content-left p {
  font-size: 1rem;
  line-height: 35px;
  color: var(--gray-300);
  text-align: left;
}

.home .home-content-left .shop-now-btn {
  margin-top: 30px;
}
.home .home-content-left .shop-now-btn .button {
  color: var(--white-100);
  background: #8fa894; /*#8fa894 40edb8*/
  padding: 8px 30px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home .home-content-left .shop-now-btn .button:hover {
  opacity: 80%;
}

.home .home-content-right {
  /* border: red 2px solid; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  transition: 0.3s ease;
}

.home .home-content-right .blob {
  width: 100%;
  height: auto;
  /* max-width: 1200px; */
  min-width: 370px;
  min-height: 500px;
  overflow: hidden;
}

.home .home-content-right .woman {
  position: absolute;
  top: 0;
  left: 30px;
  width: 90%;
  height: 95%;
  mask-image: url(/Tincture-Ecommerce/src/images/icons/home_blob-dual.png);
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(/Tincture-Ecommerce/src/images/icons/home_blob-dual.png);
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  overflow: hidden;
}
/*End Home Section*/

/*Brands Section*/
.brands .sm-container {
  background-color: var(--white-100);
  width: 100%;
  height: 100%;
  padding: 15px 0;
  margin-top: 40px;
}

.brands .sm-container .b-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.brands .sm-container .b-logos img {
  flex: 1 0 auto;
  max-width: 120px;
  min-width: 80px;
  margin: 0 10px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.brands .sm-container .b-logos img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}
/*End Brands Section*/

/*Featured Product and Latest Product*/
.featured-product,
.latest-product {
  text-align: center;
  padding: 70px 100px;
  margin-bottom: 60px;
}

.featured-product h1,
.latest-product h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 83px;
  margin-top: 20px;
  color: var(--blue-500);
}

.featured-product p,
.latest-product p {
  font-size: 1rem;
  color: var(--gray-300);
  margin-top: -8px;
}

.featured-product .f-product-container,
.latest-product .l-product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}

.featured-product .f-product,
.latest-product .l-product {
  width: 20%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid rgba(143, 168, 148, 0.5);
  background-color: var(--white-100);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin-right: 10px;
  margin-bottom: 15px;
  transition: 0.2s ease;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.latest-product .l-product {
  margin-bottom: 30px;
}

.featured-product .f-product:hover,
.latest-product .l-product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: scale(1.05); /* Slightly increase the size */
}

.featured-product .f-product-container .f-product img,
.latest-product .l-product-container .l-product img {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  background-color: var(--gray-100);
}

.featured-product .f-product-container .f-product .description,
.latest-product .l-product-container .l-product .description {
  text-align: start;
  padding: 10px 0;
}

.featured-product .f-product-container .f-product .description span,
.latest-product .l-product-container .l-product .description span {
  color: var(--gray-200);
  font-size: 1rem;
}

.featured-product .f-product-container .f-product .description h5,
.latest-product .l-product-container .l-product .description h5 {
  padding-top: 5px;
  color: var(--blue-700);
  font-size: 1.2rem;
}

.featured-product .f-product-container .f-product .description i,
.latest-product .l-product-container .l-product .description i {
  font-size: 1rem;
  color: var(--yellow-300);
}

.featured-product .f-product-container .f-product .description h4,
.latest-product .l-product-container .l-product .description h4 {
  padding-top: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--green-400);
}

.featured-product .f-product-container .f-product .cart,
.latest-product .l-product-container .l-product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: var(--white-200);
  color: var(--green-400);
  border: 1px solid rgba(143, 168, 148, 0.5);
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.featured-product .f-product-container .f-product .cart:hover,
.latest-product .l-product-container .l-product .cart:hover {
  background-color: rgba(143, 168, 148, 0.5);
}
/*End Featured Product and Latest Product*/

/*Promo Section*/
.promo {
  text-align: center;
}

.promo .promo-container {
  background-image: url(/Tincture-Ecommerce/src/images/bg/frame_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* min-height: 35vh; */
  padding: 80px;
}

.promo .promo-container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  /* line-height: 83px; */
  color: var(--blue-700);
}

.promo .promo-container p {
  font-size: 2.8rem;
  font-weight: 700;
  /* line-height: 83px; */
  color: var(--blue-700);
}

.promo .promo-container span {
  /* color: #f43c44; */
  color: var(--green-400);
}

.promo .promo-container .exp-more-btn {
  margin-top: 20px;
}

.promo .promo-container .exp-more-btn .button {
  color: var(--white-100);
  background: #8fa894; /*#8fa894 40edb8*/
  padding: 8px 30px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.promo .promo-container .exp-more-btn .button:hover {
  opacity: 80%;
}

/*End Promo Section*/

/*Shop Updates*/
.shop-updates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--gradient-blue-100);
  padding: 90px;
}

.shop-updates .update-text h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray-100);
  margin-bottom: 12px;
}

.shop-updates .update-text p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--gray-200);
  flex-wrap: wrap;
}

.shop-updates .update-text span {
  color: var(--yellow-300);
}

.shop-updates .form {
  display: flex;
  width: 40%;
}

.shop-updates .form input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 1rem;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shop-updates .form .signup {
  font-size: 1rem;
  color: var(--white-100);
  background: #8fa894;
  border-radius: 6px;
  white-space: wrap;
  min-width: 100px;
  width: 20%;
  outline: none;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.shop-updates .form .signup:hover {
  opacity: 80%;
}

/*End Shop Updates*/

/*Reviews*/
.reviews {
  text-align: center;
  padding: 70px 100px;
  /* margin-bottom: 60px; */
  /* border: 2px solid red; */
}

.reviews h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 83px;
  margin-top: 20px;
  color: var(--blue-500);
}

.reviews p {
  font-size: 1rem;
  color: var(--gray-300);
  margin-top: -8px;
}

.reviews .reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px solid magenta; */
  margin-top: 50px;
}

.reviews .reviews-container .reviews-description {
  width: 25%;
  min-width: 250px;
  margin-bottom: 30px;
  padding: 50px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border: 2px solid yellow; */
  border-radius: 6px;
}

.reviews .reviews-container .reviews-description .quote {
  font-size: 3rem;
  color: var(--green-300);
  margin-bottom: 20px;
}

.reviews .reviews-container .reviews-description p {
  font-size: 0.9rem;
  color: var(--gray-200);
  margin-bottom: 20px;
}

.reviews .reviews-container .reviews-description i {
  font-size: 1rem;
  color: var(--yellow-300);
}

.reviews .reviews-container .reviews-description img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-container .reviews-description h3 {
  font-size: 1.1rem;
  color: var(--blue-700);
}
/*End Reviews*/

/*Footer Section*/
.footer {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-color: rgba(143, 168, 148, 0.5); */
  background-color: var(--green-300);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px 0 20px;
  padding-left: 100px;
  padding-right: 35px;
}

.footer .footer-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footer-container .footer-content-1,
.footer-content-2,
.footer-content-3,
.footer-content-4 {
  min-width: 250px;
  margin-bottom: 20px;
  /* border: 2px solid yellow; */
}

.footer .footer-container .footer-content-1 {
  /* border: 2px solid yellow; */
  display: block;
  text-align: start;
  flex-basis: 25%;
}

.footer .footer-container .footer-content-1 h3,
.footer .footer-container .footer-content-2 h3,
.footer .footer-container .footer-content-3 h3,
.footer .footer-container .footer-content-4 h3 {
  font-size: 1.3rem;
  color: var(--blue-700);
  margin-bottom: 20px;
}

.footer .footer-container .footer-content-1 p,
.footer .footer-container .footer-content-2 p {
  font-size: 1rem;
  /* color: var(--gray-300); */
  color: var(--blue-500);
}

.footer .footer-container .footer-content-1 .app-logo {
  margin-top: 20px;
}

.footer .footer-container .footer-content-1 .app-logo img {
  width: 140px;
  cursor: pointer;
}

.footer .footer-container .footer-content-2 {
  flex: 1;
  text-align: center;
}

.footer .footer-container .footer-content-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer .footer-container .footer-content-3,
.footer-content-4 {
  flex-basis: 18%;
  text-align: center;
}

.footer .footer-container .footer-content-3 ul li,
.footer-content-4 ul li {
  font-size: 1rem;
  /* color: var(--gray-300); */
  color: var(--blue-500);
  cursor: pointer;
}

.footer .footer-container .footer-content-3 ul li:hover,
.footer-content-4 ul li:hover {
  opacity: 80%;
}

.footer hr {
  border: none;
  background: var(--blue-700);
  height: 1px;
  margin: 20px 0;
  margin-right: 60px;
}
.footer .copyright {
  text-align: center;
  padding-bottom: 15px;
  color: var(--blue-500);
  opacity: 80%;
}
/*End Footer Section*/

/*MQ*/
@media screen and (max-width: 1335px) {
  /*Footer*/
  .footer .footer-container .footer-content-1 {
    flex-basis: 30%;
  }

  .footer .footer-container .footer-content-3,
  .footer-content-4 {
    display: block;
    flex-basis: 18%;
  }
  /*End Footer*/
}
@media screen and (max-width: 1207px) {
  .footer .footer-container .footer-content-1,
  .footer .footer-container .footer-content-2,
  .footer .footer-container .footer-content-3,
  .footer .footer-container .footer-content-4 {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 1146px) {
  /*Featured Product and Latest Product*/
  .featured-product,
  .latest-product {
    padding: 70px 50px;
  }
  /*End Featured Product and Latest Product*/

  /*Shop Updates*/
  .shop-updates {
    padding: 80px 30px;
  }
  /*End Shop Updates*/

  /*Customer Reviews*/
  .reviews {
    padding: 70px 50px;
  }
  /*End Customer Reviews*/

  /*Footer*/
  /* .footer {
    padding: 30px 0 5px;
    padding-left: 30px;
    padding-right: 25px;
  } */

  /*End Footer*/
}

@media screen and (max-width: 1023px) {
  /*Navbar*/
  .header {
    /* border: 2px solid red; */
    padding: 20px 30px;
    transition: 0.3s ease;
  }

  .header .cart {
    top: 36%;
    margin-right: 72px;
  }

  .header .hamburger {
    display: inline-flex;
  }
  .header #check:checked ~ .hamburger #menu-icon {
    display: none;
  }

  .header #check:checked ~ .hamburger #close-icon {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--green-300);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  .header #check:checked ~ .navbar {
    height: 20rem;
  }

  .header .navbar a {
    display: block;
    margin: 2.8rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.4s ease;
  }

  .header .navbar a:link,
  .header .navbar a:visited {
    color: var(--blue-700);
  }

  .header .navbar a:hover {
    color: var(--green-200);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  }

  .header #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.12s * var(--i));
  }

  .header .hamburger #close-icon {
    display: none;
  }

  .header .navbar .cart {
    position: absolute;
    top: 0;
    right: 0;
  }
  /*End Navbar*/

  /*Home Section*/
  .home .container {
    padding: 40px 60px;
  }

  .home .home-content-left {
    flex: 1;
    /* margin-top: 150px; */
  }

  .home .home-content-right {
    display: none;
    transition: 0.3s ease-in-out;
  }
  /*End Home Section*/

  /*Shop Updates*/
  .shop-updates {
    text-align: center;
    justify-content: center;
  }

  .shop-updates .update-text p {
    margin-bottom: 20px;
  }

  .shop-updates .form {
    width: 80%;
  }
  /*End Shop Updates*/
}

@media screen and (max-width: 768px) {
  /*Navbar*/
  .header {
    /* background-color: rgba(0, 0, 0, 0.2);  */
    background-color: var(--green-300);
    border-radius: 10px 10px 0 0;
    top: 0;
  }
  /*End Navbar*/

  /*Home Section*/
  .home .container {
    padding: 20px 20px;
  }

  .home .home-content-left {
    margin-top: 20px;
    transition: 0.3s ease;
  }

  .home .home-content-left .shop-now-btn{
    margin-bottom: 20px;
  }
  /*End Home Section*/

  /*Brands Section*/
  .brands .sm-container {
    padding: 15px 10px;
    margin-top: 10px;
  }

  .brands .sm-container .b-logos img {
    max-width: 100px;
    margin: 0 8px;
  }
  /*End Brands Section*/

  /*Featured Product and Latest Product*/

  .featured-product,
  .latest-product {
    padding: 30px 0px;
  }

  .featured-product h1,
  .latest-product h1 {
    line-height: 60px;
    margin-bottom: 10px;
  }

  .featured-product .f-product-container,
  .latest-product .l-product-container {
    justify-content: space-evenly;
  }
  .featured-product .f-product,
  .latest-product .l-product {
    width: 35%;
  }
  /*End Featured Product and Latest Product*/

  /*Promo Section*/
  .promo .promo-container {
    padding: 60px 30px;
  }

  /*Shop Update*/

  /*Shop Update*/

  /*Customer Reviews*/
  .reviews {
    padding: 30px 0px;
  }

  .reviews h1 {
    line-height: 60px;
    margin-bottom: 10px;
  }

  .reviews .reviews-container {
    display: block;
  }

  .reviews .reviews-container .reviews-description {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  /*End Customer Reviews*/

  /*Footer*/

  .footer {
    padding: 20px 0 20px;
    padding-left: 20px;
    padding-right: 25px;
  }
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-container .footer-content-1,
  .footer .footer-container .footer-content-2,
  .footer .footer-container .footer-content-3,
  .footer .footer-container .footer-content-4 {
    text-align: center;
  }

  .footer hr {
    margin-right: 0px;
  }

  .footer .copyright {
    padding-bottom: 0;
  }
  /*End Footer*/
}

@media screen and (max-width: 451px) {
  /*End Home Section*/

  .home .home-content-left h1 {
    font-size: 3.6rem;
    text-align: center;
    line-height: 73px;
  }

  .home .home-content-left p {
    font-size: 0.9rem;
  }

  .home .home-content-left .shop-now-btn {
    margin-top: 15px;
  }
  .home .home-content-left .shop-now-btn .button {
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /*End Home Section*/

  /*Brands Section*/
  .brands .sm-container {
    padding: 10px 3px;
  }

  .brands .sm-container .b-logos img {
    max-width: 60px;
    min-width: 50px;
    margin: 0 4px;
  }
  /*End Brands Section*/

  /*Featured Product and Latest Product*/
  .featured-product .f-product,
  .latest-product .l-product {
    width: 75%;
  }
  /*End Featured Product and Latest Product*/

  /*Shop Updates*/
  .shop-updates .form {
    width: 100%;
  }
  /*End Shop Updates*/

  /*Customer Reviews*/
  .reviews .reviews-container .reviews-description {
    width: 80%;
  }
  /*End Customer Reviews*/

  /*Footer*/
  .footer .footer-container .footer-content-1,
  .footer .footer-container .footer-content-2,
  .footer .footer-container .footer-content-3,
  .footer .footer-container .footer-content-4 {
    flex: 1 1 100%;
  }

  .footer .footer-container .footer-content-2 img {
    width: 100px;
  }
  /*End Footer*/
}

@media (max-width: 374px) {
  /*Brands Section*/
  .brands .sm-container {
    padding: 10px 5px;
  }

  .brands .sm-container .b-logos {
    padding-bottom: 15px;
  }

  .brands .sm-container .b-logos img {
    max-width: 60px;
    min-width: 50px;
    margin: 0 0px;
  }
  /*End Brands Section*/

  /*Promo Section*/
  .promo .promo-container {
    padding: 80px 30px;
  }
  /*End Promo Section*/

  /*Promo Section*/
  .promo .promo-container {
    padding: 80px 13px;
  }
  /*End Promo Section*/

  /*Shop Updates*/
  .shop-updates .form input {
    font-size: 0.8rem;
  }
  /*End Shop Updates*/
}
