/*Featured Product and Latest Product*/

.featured-product{
  background-image: url(/Tincture-Ecommerce/src/images/bg/feature-bg.svg);
  background-size: cover;
  background-position: center;
  /* background-position: top right; */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.latest-product{
  background-image: url(/Tincture-Ecommerce/src/images/bg/latest-product-bg..png);
  background-size: cover;
  background-position: center;
  /* background-position: top right; */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}



.featured-product,
.latest-product,
.shop-product{
  text-align: center;
  padding: 70px 100px;
  /* margin-bottom: 0px; */
}

.featured-product h1,
.latest-product h1,
.shop-product h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 83px;
  margin-top: 20px;
  color: var(--blue-900);
  /* color: var(--blue-950); */
  font-family: var(--font-headers);
}

.featured-product p,
.latest-product p,
.shop-product p {
  font-size: 1.1rem;
  color: var(--blue-800);
  margin-top: -8px;
  font-family: var(--font-paragraph);
}

.featured-product .f-product-container,
.latest-product .l-product-container,
.shop-product .s-product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}

.featured-product .f-product,
.latest-product .l-product,
.shop-product .s-product {
  width: 20%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #FAFAFA;
  background-color: var(--white-100);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin-right: 10px;
  margin-bottom: 15px;
  transition: 0.2s ease;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* border: 2px solid red; */
}

.latest-product .l-product,
.shop-product .s-product {
  margin-bottom: 30px;
}

.featured-product .f-product:hover,
.latest-product .l-product:hover,
.shop-product .s-product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: scale(1.05); /* Slightly increase the size */
}

.featured-product .f-product-container .f-product img,
.latest-product .l-product-container .l-product img,
.shop-product .s-product-container .s-product img {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  background-color: #FAFAFA;
}

.featured-product .f-product-container .f-product .description,
.latest-product .l-product-container .l-product .description,
.shop-product .s-product-container .s-product .description {
  text-align: start;
  padding: 10px 0;
}

.featured-product .f-product-container .f-product .description span,
.latest-product .l-product-container .l-product .description span,
.shop-product .s-product-container .s-product .description span {
  color: var(--blue-800);
  font-size: 1rem;
  font-family: var(--font-paragraph);
}

.featured-product .f-product-container .f-product .description h5,
.latest-product .l-product-container .l-product .description h5,
.shop-product .s-product-container .s-product .description h5 {
  padding-top: 5px;
  color: var(--blue-600);
  font-size: 1.2rem;
  font-family: var(--font-paragraph);
}

.featured-product .f-product-container .f-product .description i,
.latest-product .l-product-container .l-product .description i,
.shop-product .s-product-container .s-product .description i {
  font-size: 1rem;
  color: var(--yellow-300);
}

.featured-product .f-product-container .f-product .description h4,
.latest-product .l-product-container .l-product .description h4,
.shop-product .s-product-container .s-product .description h4 {
  padding-top: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--blue-900);
  font-family: var(--font-headers);
}

.featured-product .f-product-container .f-product .cart,
.latest-product .l-product-container .l-product .cart,
.shop-product .s-product-container .s-product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: var(--white-100);
  color: var(--green-400);
  border: 1px solid #FAFAFA;
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: var(--blue-600);
}

.featured-product .f-product-container .f-product .cart:hover,
.latest-product .l-product-container .l-product .cart:hover,
.shop-product .s-product-container .s-product .cart:hover {
  background-color: var(--blue-50);
}
/*End Featured Product and Latest Product*/

/*Sweet Alert Button*/
.sweet-alert .confirm {
  background-color: var(--blue-600) !important; /* Green button */
  color: var(--white-100) !important; /* Text color */
}

.sweet-alert .confirm:hover{
  opacity: 80%;
}
/*End Sweet Alet Button*/