@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*font-family: "Roboto", sans-serif;
font-family: "Nunito", sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  transition: width 0.3s ease, padding 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

:root {
  /*Fonts*/
  --font-headers: "Roboto", sans-serif;
  --font-paragraph: "Nunito", sans-serif;

  /*Colors*/
  --white-100: #fefeff;
  --white-200: #f0f2ff; 

  --gray-100: #E9ECEF;

  /* --blue-1000: #022633; */
  --blue-1000: #000d1a;

  --blue-950: #033649;
  --blue-900: #105269;
  --blue-800: #0d647d;
  --blue-700: #037c9b;
  --blue-600: #009dc0;
  --blue-500: #00c5e5;
  --blue-200: #9efaff;
  --blue-50: #eaffff;

  --yellow-300: #e8b625;
}
