@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    transition: width 0.3s ease, padding 0.3s ease;
  }
  
  html {
    scroll-behavior: smooth;
  }

:root {
    /*Fonts*/
    --font-headers: "Mochiy Pop One", sans-serif;
    --font-paragraph: "Poppins", sans-serif;
  
    /*Colors*/
    --white-100: #ffffff;
    --white-200: #f6f6f6;
    --white-300: #f7f6f7; /*BG Hero*/
  
    --blue-500: #122743;
    --blue-700: #132743;
    --gradient-blue-100: linear-gradient(
      90deg,
      rgb(19, 39, 67),
      rgb(42, 74, 115)
    );
    --gradient-blue-200: linear-gradient(90deg, rgb(19, 39, 67), rgb(31, 58, 91));
  
    --gray-100: #f0eff0;
    --gray-200: #88909d;
    --gray-300: #596477;
  
    --green-100: #40edb8;
    --green-200: #a8c2a9;
    --green-300: #8fa894;
    --green-400: #738677;
  
    --yellow-300: #e8b625;
  }

  /* Style the scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/*(background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--gray-100);
  border-radius: 8px;
}

/*(the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: var(--green-400);
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-400);
}
/*End Style the scrollbar*/